//CONFIG
//-------------------------------------------------

//COLORS
@c1: #ffffff;
@c2: #000000;

//FONTS
@path-fonts: '../fonts/';
@cam-b: 'Cambria-b';
@cam-i: 'Cambria-i';
@cam-bi: 'Cambria-bi';

// Mode: Desktop
@desktop-xs: 1250px;
@desktop-s: 1330px;

// Mode: Tablet
@tablet: 768px;
@tablet-xl: 1024px;

// Mode: Mobile
@mobile-s: 320px;
@mobile-m: 375px;
@mobile-xl: 468px;
